<!--
  Generated template for the ViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>View Aquarium</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div text-center>
    <img src={{this.images}} alt="Image" />
  </div>
  <hr>
  <ion-list *ngFor="let item of camera$ | async">
    <ion-col>
      <ion-label text-center><b>Last Take: </b>{{item.lastTake}}</ion-label>
      <button ion-button icon-start block  (click)="takeAPict(item)" [disabled]="item.condition == true">
        <ion-icon name="camera"></ion-icon>
        Take
      </button>
    </ion-col>
  </ion-list>
  
</ion-content>
