<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>About</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card color="primary">
    <ion-card-content>
      <ion-card-title>
        About Smaco
      </ion-card-title>
      <hr>
      <p>Smaco - Smart Aquarium Controller</p>
      <p>Version: 1.0.0</p>
      <p>This application is have a purpose for author thesis.</p>
    </ion-card-content>
  </ion-card>

  <ion-card  color="primary">
    <ion-card-content>
      <ion-card-title>
        About Author
      </ion-card-title>
      <hr>
      <p>Richie</p>
      <p>001201400054</p>
      <p>Information Technology</p>
      <p>President University</p>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col text-center>
        <button ion-button clear small color='light' icon-start onclick="window.open('https://www.facebook.com/riichiewijaya', '_system', 'location=yes');return false;">
          <ion-icon name='logo-facebook'></ion-icon>
          Facebook
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small color="light" icon-start onclick="window.open('https://www.instagram.com/riichiewijaya', '_system', 'location=yes');return false;">
          <ion-icon name='logo-instagram'></ion-icon>
          Instagram
        </button>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>
